body  {
    background-image: url("img/0.1.png");
    background-color: #f0efb3 !important; 
    height: auto;
    width: auto;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

table thead tr th td img{
    max-width: 100%;
    max-height: 100%;
}

/*! --------------------------------------------------------------------------------------------- */

/*? Navbar Start */
 .navbar-nav{
     font-size: 18px;
     font-weight: 600;
     /*font-family:  ;*/
 }

 .nav-item .nav-link:hover {
    box-shadow: 0.5px 0.5px 0.5px 0.5px #b5b3b3;
 }

 .nav-link:active{
    color: #ff0000;
    text-align:left;
 }
/*? Navbar End */

/*! --------------------------------------------------------------------------------------------- */

/*? Carousel Start */
 .carousel-inner {
    /* box-shadow: 10px 10px 8px #1f1f1f; */
    border-radius: 15px;
}

/* .carousel-caption {
    font-size: 18px;
    text-shadow: 5px 5px 8px #000000;
}
    .carousel-caption p {
    font-size: 25px;
    text-shadow: 5px 5px 8px #000000;
} */
/*? Carousel End */

/*! --------------------------------------------------------------------------------------------- */

.center_new_t1 {
    text-align: center;
  }
  
  .center_new_t1 p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }

.upfont_f1 {
    font-size: 22px;
    font-weight: 500;
}

/*! --------------------------------------------------------------------------------------------- */

/*? Mix */
 .settextcenter {
     padding-top: 25px;
     text-align: center;
     font-size: 20px;
     color: rgb(255, 255, 255);
     word-wrap: break-word;
     text-shadow: 5px 5px 8px #000000;
     font-weight: 600;
 }

 .textset1 {
     text-align: center;
     color: rgb(255, 255, 255);
     font-size: 28px;
     font-weight: 600;
 }

 .linebreakin {
    white-space: pre-line;
 }

 .item-text {
    display: table-cell;
    vertical-align: top;
   /* width: 10000px;*/
    overflow: hidden;
    /* padding-left: 10px; */
    /* text-align: right; */
}

/*? End Mix */

/*! --------------------------------------------------------------------------------------------- */